html, body {
    background-color: white;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}
.header {
    background-color: gainsboro;
    padding: 5px;
    height: 60px;
}
.title {
    font-size: 2rem;
}
.footer {
    height: 30px;
}
.body {
    height: calc(100vh - 90px); /* 60px for header + 30px for footer */
}

.main-search {
   border-radius: 20px;
   width: 60vh;
}
.ui-widget {
    font-size: 1rem;
        font-family: 'Roboto Mono', monospace;

}
.ui-widget-content {
    color: black;
}
.ui-menu {
    background: white;
}
.ui-menu .ui-menu-item {
    border-bottom: 1px solid #dddddd;
}

.search-label {
    font-size: 2.5rem;
}
.sub-title {
    font-size: 14px;
}
.display-none {
    display: none;
}
.fas-lg {
    font-size: 18px;
}
.search-form {
    border-radius: 5px;
    border: 1px solid  #dddddd;
}
.filter-by{
    font-size: 1.2rem;
}
legend {
    font-size: 1rem;
}
.pag-input {
    width: 50px;
}
.table-container{
    height: calc(100vh - 170px );
    overflow: scroll
}
th {
  position: sticky;
  top: 0px;
}