<div class="header d-flex justify-content-between align-items-center">
  <div>
    <span class="title">Booky</span>
  </div>
  <div class="mr-5">
    <span><i class="fas fas-lg fa-globe-americas"></i><span id="nTotal"
        class="ml-1 badge badge-pill badge-primary"></span></span>
    <span><i class="fas fas-lg fa-male"></i><span id="nMale"
        class="ml-1 badge badge-pill badge-primary"></span></span></span>
    <span><i class="fas fas-lg fa-female"></i><span id="nFemale"
        class="ml-1 badge badge-pill badge-primary"></span></span></span>
  </div>
</div>